<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="CodeGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CodeGenerator.Properties.Settings.MenuMasterConnectionString"
            connectionString="Data Source=ALLYSON\sqlexpress;Initial Catalog=MenuMaster;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CodeGenerator.Properties.Settings.MenuMasterConnectionString1"
            connectionString="Data Source=ALLYSON\sqlexpress;Initial Catalog=MenuMaster;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <CodeGenerator.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>ConnectionString</value>
            </setting>
            <setting name="DBConnections" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Data Source=ALLYSON\sqlexpress;Initial Catalog=testcs;Integrated Security=True</string>
                        <string>Data Source=enkonvic-dev2\sql2008;Initial Catalog=Amtrak_Next_gen;user id=sa;password=SAFu11@cce$$</string>
                        <string>Data Source=ALLYSON\sqlexpress;Initial Catalog=menumaster;Integrated Security=True</string>
                    </ArrayOfString>
                </value>
            </setting>
        </CodeGenerator.Properties.Settings>
    </applicationSettings>
</configuration>